form {
  font-size: 1.2em;
  text-align: center;
}

.input-section input {
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
  background: #EEE;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.input-section input::placeholder {
  color: #999;
  font-family: monospace;
}

#player1:focus {
  box-shadow: 0 2px 5px cornflowerblue;
}

#player2:focus {
  box-shadow: 0 2px 5px indianred;
}

#player1 {
  color: royalblue;
}

#player2 {
  color: maroon;
}

