.match-list {
  color: #666;
  text-align: center;
  margin: 0 auto;
}

.match-list td {
  border: 1px solid #EEE;
  padding: 5px 20px;
  width: 1%;
}

.match-list tr:nth-child(even) {
  background-color: #d7e3fa;
}